@tailwind base;

@layer base {
  input {
    @apply
      bg-zinc-900
      py-3
      px-4
      rounded
      text-sm
      placeholder:text-sm
      placeholder:text-zinc-500;
  }
}

@tailwind components;

@layer components {
  .input-box {
    @apply
      flex 
      flex-col 
      gap-2;
  }

  .day-button {
    @apply
      w-8
      h-8
      rounded
      bg-zinc-900;
  }

  .cancel-button {
    @apply
      bg-zinc-500 
      px-5 
      h-12 
      rounded-md 
      font-semibold 
      hover:bg-zinc-600;
  }

  .apply-button {
    @apply
      bg-violet-500 
      px-5 
      h-12
      rounded-md
      font-semibold
      flex
      items-center
      gap-3
      hover:bg-violet-600;
  }
}

@tailwind utilities;